.chat-body {
	background-color: #abc1d1;
}

.chat-body * {
	color: black;
}

.main-chat {
	margin-top: 91px; 
	display: flex;
	flex-direction: column;
}

.chat__timestamp {
	margin: 0px auto;
	color: white;
	font-size: 14px;
	font-weight: 300;
	background-color: rgba(145, 165, 181);
	padding: 5px 15px;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes fadeIn {
	from {
		transform: translateY(15px);
		opacity: 0;
	}
	to {
		transform: none;
		opacity: 1;
	}
}

.message {
	opacity: 0;
	animation: fadeIn 0.5s ease-in-out forwards;
	width: 100%;
	margin-top: 20px;
	display: flex;
}

.message:last-child {
	animation-delay: 1.5s;
}

.message img {
	width: 45px;
	height: 45px;
	border-radius: 40%;
	margin-right: 10px;
}

.message__author {
	opacity: 0.8;
	font-size: 16px;
	margin-bottom: 10px;
	display: block;
}

.message__info {
	display: flex;
	align-items: flex-end;
}

@keyframes typeWriter {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

.message__bubble {
	background-color: white;
	padding: 10px;
	font-size: 18px;
	border-radius: 15px;
	border-top-left-radius: 0px;
}

.message__bubble:first-child div {
	animation: typeWriter 0.6s steps(9, end) forwards;
	animation-delay: 0.5s;
	width: 0%;
	white-space: nowrap;
	overflow: hidden;
}

.message__time {
	margin: 0px 5px;
	font-size: 12px;
	opacity: 0.7;
}

.sent {
	justify-content: flex-end;
}

.sent .message__bubble {
	background-color: var(--yellow);
	border-top-right-radius: 0px;
	border-top-left-radius: 15px;
}

.sent .message__info {
	flex-direction: row-reverse;
}

.chat-interface {
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px 0px;
	position: fixed;
	bottom: 0;
}

.chat-interface__column {
	transition: all 0.3s ease-in-out;
}

.chat-interface__column:first-child {
 width: 13%;
 display: flex;
 justify-content: center;
}

.chat-interface__column:first-child i {
	display: flex;
	width: 24px;
	height: 24px;
	justify-content: center;
	align-items: center;
	margin: 0px 15px;
	border: 2px solid black;
	border-radius: 35%;
	opacity: 0.4;
}

.chat-interface__column:last-child {
	display: flex;
	align-items: center;
	position: relative;
	width: 85%;
}

.chat-interface:focus-within .chat-interface__column:last-child {
	width: 98%;
}

.chat-interface:focus-within .chat-interface__btns {
	opacity: 0;
}

.chat-interface:focus-within .chat-interface__column:first-child {
	width: 0%;
	opacity: 0;
}

.chat-interface__column:last-child input {
	font-size: 15px;
	padding: 0px 15px;
	background-color: rgb(245, 245, 245);
	width: 100%;
	height: 40px;
	border-radius: 20px;
	border: 1px solid rgb(220, 220, 220);
}

.chat-interface__btns {
	display: flex;
	position: absolute;
	right: 5px;
	align-items: center;
	transition: all 0.3s ease-in-out;
}


.chat-interface__btns .fa-kiss-beam {
	opacity: 0.5;
	font-size: 25px;
	margin-right: 10px;
}

.chat-interface__send {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: var(--yellow);
	border: 0.5px solid rgb(220, 220, 220);
}

.chat-interface__send:focus,
.chat-interface__send:active {
	outline: none;
}