.recommended-friends {
	padding: 25px 0px;
	border-bottom: var(--gray-border);
}

.recommended-friends__title {
	font-size: 14px;
	font-weight: 300;
	color: var(--gray-text);
}

.recommended-friends span {
	font-size: 17px;
	font-weight: 300;
	display: block;
	margin: 110px 0px;
	text-align: center;
	color: var(--gray-text);
}

.open-chat__header {
	display: flex;
	justify-content: space-between;
	padding: 25px 0px;
}

.open-chat__header span {
	opacity: 0.6;
}

.open-chat__header__text {
	font-size: 14px;
	font-weight: 300;
	color: var(--gray-text);	
}

.open-post {
	display: flex;
	justify-content: space-between;
}

.open-post__column:first-child {
	padding: 10px 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.open-post__hashtags {
	font-size: 16px;
	opacity: 0.7;
}

.open-post__members {
	margin-top: 3px;
	display: flex;
	align-items: center;
}

.open-post__members img {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-right: 10px;
}

.open-post__members span {
	font-size: 14px;
	opacity: 0.5;
}

.open-post__members .divider {
	width: 1px;
	height: 12px;
	background-color: var(--gray-text);
	margin: 0px 7px;
}

.open-post__active {
	color: cyan;
}

.open-post__column:last-child {
	position: relative;
}

.open-post__thumbnail {
	width: 85px;
	height: 85px;
	border-radius: 10px;
}

.open-post__like {
	width: 45px;
	height: 18px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 9px;
}

@keyframes heartBump {
	35% {
		color: white;
		transform: none;
	}
	50% {
		color: pink;
		transform: scale(1.2);
	}
	65% {
		color: white;
		transform: none;
	}
}

.open-post__like i {
	will-change: transform;
	animation: heartBump 1s ease-in-out infinite;
	margin-right: 5px;
	font-size: 6px;
}

.open-post__like span {
	font-size: 10px;
}