.friends-display-link {
	color: rgb(220, 220, 220);
	padding: 12px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(60,60,66);
	margin-bottom: 20px;
}

.friends-display-link i {
	opacity: 0.3;
	padding: 0 9px;
}

.friends-screen__channel {
	margin-top: 20px;
	border-top: var(--gray-border);
	padding-top: 15px;
}

.friends-screen__channel-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.friends-screen__channel-header__text {
	color: var(--gray-text);
}

.friends-screen__channel-info {
	display: flex;
	align-items: center;	
}

.friends-screen__channel-info__number{
	color: var(--gray-text);
}

.friends-screen__channel-info__icon {
	margin-left: 5px;
	color: var(--gray-text);
}