.icon-row {
	display: flex;
	justify-content: space-between;
	padding-bottom: 25px;
	border-bottom: var(--gray-border);
	flex-flow: wrap;
}

.icon-row__icon {
	width: 90px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon-row__icon i {
	font-size: 30px;
	margin: 15px 0;
}

.icon-row__icon span {
	text-align: center;
}
