.nav {
	width: 100%;
	position: fixed;
	box-sizing: border-box;
	bottom: 0;
	padding: 20px 40px;
	border-top: var(--gray-border);
	background-color: rgb(60,60,66);
}

.nav__list {
	display: flex;
	justify-content: space-between;
}

.nav__link {
	position: relative;
	text-decoration: none;
}

.nav__link i {
	color: rgb(220,220,242);
}

.nav__notification {
	position: absolute;
	right: -10px;
	top: -5px;
}